{% extends "cliente/base.html" %}

	{% block title %}
		<title>Meu sistema - Abacate</title>
	{% endblock title %}

	{% block abacate %}
		<a class="navbar-brand ml-md-4 ml-lg-5" href="{% url 'cliente:index' %}">Index</a>
	{% endblock abacate %}

	{% block navegacao %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">Home</span>
		</button>
	{% endblock %}

	{% block conteudo %}
		{% comment 'Código comentado porque sim' %}
			<div>
				qq coisa
			</div>
		{% endcomment %}

		<!-- Sou o comentário do HTML -->


		<p>
			<a href="{% url 'cliente:hora' %}">Ver a hora</a>
		</p>
		<p>
			<span>Nome: {{ nome }} </span>
		</p>
		<p>
			<span>Data de nascimento: {{ dtNascimento }} </span>
		</p>
		<p>
			<span>Cor: {{ cor }} </span>
		</p>
		<p>
			<span>Status: {{ status }} </span>
		</p>

		<p>
			<span>Cpf: {{ cpf }} </span>
		</p>
		{% if rg %}
			<p>
				<span>RG: {{ rg }} </span>
			</p>
		{% else %}
			<p>
				<span>RG: Não informado} </span>
			</p>
		{% endif %}
	{% endblock %}