{% extends "cliente/base.html" %}


	{% block conteudo %}

		<form action="" method="post" class="form form-inline">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Vai" />
		</form>

	{% if clientes %}
		<table class="table table-striped">
			<tr>
				<td>Nome do cliente</td>
				<td>CPF</td>
				<td>Email</td>
				<td>Data de nascimento</td>
			</tr>

			{% for cliente in clientes %}		
				<tr>	
					<td>{{ cliente.nm_cliente }}</td>
					<td>{{ cliente.nr_cpf }}</td>
					<td>{{ cliente.email }}</td>
					<td>{{ cliente.dt_nascimento }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-info">Nenhum cliente cadastrado</div>
	{% endif %}
	{% endblock conteudo %}